html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #1c1c1c;
}
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.column {
			box-sizing: border-box;
			padding: 10px;
			flex: 1;
			max-width: 33.33%;
			min-width: 300px;
		}
		.left-column {
			flex: 2;
			max-width: 66.66%;
			min-width: 600px;
		}
		.card {
			background-color: #f2f2f2;
			border: 1px solid #ccc;
			border-radius: 5px;
			padding: 20px;
      margin: 10px;
			margin-bottom: 20px;
			overflow-y: auto;
			max-height: 200px;
		}
      	.card::-webkit-scrollbar {
    		width: 0px;
    		background: transparent; 
		}
		.row {
			display: flex;
			flex-wrap: wrap;
			margin: 0 -10px;
		}

.activity-card {
  display: flex;
  align-items: center;
  padding: 10px;
  border-left: 3px solid #ccc;
}

.activity-card .circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 10px;
}

.activity-card h3 {
  margin: 0;
  font-size: 16px;
}

.activity-card p {
  margin: 5px 0 0;
  font-size: 14px;
  color: #666;
}


.production-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 16px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.status-pill {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: #888;
  padding: 4px 8px;
  border-radius: 20px;
  margin-bottom: 8px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.description {
  font-size: 14px;
  color: #666;
}

.date {
  font-size: 14px;
  color: #666;
}


