html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #1c1c1c;
}
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.feed-container{
  height:100%;
  overflow-y:auto;
}
  
/* Container */
.container {
  max-width: 900px;
  margin: 0 auto;
}

/* Feed */
.feed {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin-top:40px;
  background:white;
}

/* Tweet */
.tweet {

  margin-bottom: 10px;
}

/* Avatar */
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ccc;
  overflow:hidden;
  margin-right: 10px;
}
.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Content */
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
}


/* Name */
.name {
  font-weight: bold;
  margin-bottom: 5px;
}

/* Username */
.username {
  color: #555;
  margin-bottom: 5px;
}

/* Text */
.text {
  margin-bottom: 5px;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
  /* Container */
  .container {
    max-width: 100%;
    padding: 10px;
  }

  /* Feed */
  .feed {
    padding: 5px;
  }
  /* Name */
  .name {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  /* Username */
  .username {
    color: #555;
    margin-bottom: 5px;
  }

  /* Tweet */
  .tweet {
    flex-direction: column;
  }

  /* Avatar */
  .avatar {
    margin-right: 0;
    margin-bottom: 10px;
  }
}


.navbar{
  background: blue;
  width:100%;
}


.code-box {
  background-color: #f5f5f5;
  border-radius: 4px;
  padding: 16px;
  font-family: monospace;
  font-size: 14px;
  color: #333;
  white-space: pre-wrap;
}

.code-box pre {
  margin: 0;
}

.code-box code {
  font-family: monospace;
  font-size: 14px;
  color: #333;
  display: block;
}


.input-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px;

  border-top: 1px solid #ccc;
}

.input-bar input[type="text"] {
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 10px;
}

.input-bar button {
  background-color: #1da1f2;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.input-bar button:hover {
  background-color: #0c8de4;
}


.column {
			box-sizing: border-box;
			padding: 10px;
			flex: 1;
			max-width: 33.33%;
			min-width: 300px;
		}
		.left-column {
			flex: 2;
			max-width: 66.66%;
			min-width: 600px;
		}
		.card {
			background-color: #f2f2f2;
			border: 1px solid #ccc;
			border-radius: 5px;
			padding: 20px;
      margin: 10px;
			margin-bottom: 20px;
			overflow-y: auto;
			max-height: 200px;
		}
      	.card::-webkit-scrollbar {
    		width: 0px;
    		background: transparent; 
		}
		.row {
			display: flex;
			flex-wrap: wrap;
			margin: 0 -10px;
		}

.activity-card {
  display: flex;
  align-items: center;
  padding: 10px;
  border-left: 3px solid #ccc;
}

.activity-card .circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 10px;
}

.activity-card h3 {
  margin: 0;
  font-size: 16px;
}

.activity-card p {
  margin: 5px 0 0;
  font-size: 14px;
  color: #666;
}
