.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.headerdashboard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background-color: #f2f2f2;
  width: 100%;
  box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.06);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.headerdashboard .userData {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.headerdashboard .userData p {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  margin-left: 8px;
}

.logout-button {
  padding: 10px 20px;
  background-color: #d9534f;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #c9302c;
}

@media screen and (max-width: 480px) {
  .dashboard-container {
    height: auto;
    padding: 16px;
  }
}



.update-card {
  width: 400px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
}

.update-card h2 {
  font-size: 20px;
  margin-bottom: 16px;
}

.update-card .form-group {
  margin-bottom: 16px;
}

.update-card label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
}

.update-card input,
.update-card textarea {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.update-card input[type="date"] {
  padding: 8px;
  font-size: 16px;
}

.update-card .form-group:last-child {
  margin-bottom: 0;
}

.update-card .submit-btn {
  display: block;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  padding: 8px 16px;
  cursor: pointer;
}

.update-input {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.todo-list {
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.todo-list h2 {
  margin: 0 0 20px;
  font-size: 24px;
  font-weight: bold;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.todo-item:last-child {
  border-bottom: none;
}

.todo-title {
  font-weight: bold;
  font-size: 18px;
}

.todo-desc {
  margin: 0 20px;
  flex-grow: 1;
  font-size: 16px;
}

.todo-status {
  font-size: 16px;
}
